/* Configuração do fundo da tela de login e cadastro */
.back{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: .7;
    filter: alpha(opacity=40);
    background-color: rgba(71,99,255, 0.8);
}

.borda {
    border: 2px solid;
    text-align: center;
    size: relative;
    padding-bottom: 60px;
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 32%;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.borda2 {
  border: 2px solid;
  text-align: center;
  size: relative;
  padding-bottom: 60px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 40%;
  margin-top: 10%;
  margin-left: 50%;
  background-image: url(../img/fundo.jpg);
  background-repeat: no-repeat;
  position: absolute;
}

.borda2 div{
    width: 100%;
    height: 20%;
    color: blue;
}

.borda3 {
    border: 2px solid;
    text-align: center;
    size: relative;
    padding-bottom: 60px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25%;
    margin-left: 50%;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    position: absolute;
  }

  .borda3 div{
    width: 100%;
    height: 20%;
    color: blue;
  }
/* Personalização dos botões de envio */
input[type="button"]{
    width: 30%!important; /* tamanho*/
    cursor: pointer;  /* tipo do mouse ao posicionar encima do botão */
    background: rgb(44, 56, 55); /* cor de fundo doss botões */
    color: #fff; /* cor da letra */
    font-size: 20px;  /* tamanho da letra, sem responsividade */
    border: 1px solid #fff; /* tamanho da borda dos botões, tipo solido e a cor */
    text-shadow: 0 1px 1px #333; /* Sombra do texto do botões */

    transition: all 0.2s linear; /* tempo de transição entre a cor do botão para a outra cor ao passar o mouse por cima */
}

input[type="button"]:hover{
    background: #4ab3c6; /* Cor do botão apos passar o mouse por cima */
  }
